<div class="center jumbotron">
  <h1>Welcome to he thong DK tin chi PTIT</h1>
  <h2><a href="http://qldt.ptit.edu.vn/HDDKMH.htm">Huong dan dang ki mon hoc</a></h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
