<h1>Danh Sach Sinh Vien</h1>

<table class="table table-hover table-bordered">
<tr style="text-align:center">
<th>Ma SV</th>
<th>Ten</th>
<th>Xoa TK</th>
</tr>
<% @users.each do |user| %>
<%if !user.admin? %>
<tr>
<td><%=link_to user.msv, user_path(user)%></td>
<td><%=link_to user.name, user_path(user)%></td>
<td><%=link_to "delete", user_path(user),method: :delete, data: { confirm: "You sure?" }%></td>
</tr>
<%end%>
<%end%>
</table>