<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Phong quan ly Hoc vien Cong nghe Buu chinh vien thong</a>
    by <a href="https://www.facebook.com/nhi.nho.a1k9">Huyen Lanh</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>