<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Hoc vien cong ngh buu chinh vien thong", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Trang chu",  root_path %></li>
        <li><%= link_to "Dang ki mon hoc",   'dangki_path' %></li>
        <li><%= link_to "Danh sach sinh vien",   'danhsach_path' %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>